<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">

  <p>
    <label for="firstName">First Name: </label>
    <input type="text" id="firstName" name="firstName" ngModel>
    <!-- <input type="text" id="firstName" name="firstName" [(ngModel)]="Contact.firstName"> -->
  </p>

  <p>
    <label for="lastName">Last Name: </label>
    <input type="text" id="lastName" name="lastName" ngModel>
  </p>

  <p>
    <label for="email">Email: </label>
    <input type="text" id="email" name="email" ngModel>
  </p>

  <p>
    <label for="gender">Gender: </label>
    <input type="radio" value="male" id="gender" name="gender" ngModel> Male 
    <input type="radio" value="female" id="gender" name="gender" ngModel> Female
  </p>

  <p>
    <label for="isMarried">Married: </label>
    <input type="checkbox" id="isMarried" name="isMarried" ngModel>
  </p>

  <div ngModelGroup="address">
    <p>
      <label for="city">City</label>
      <input type="text" name="city" ngModel>
    </p>

    <p>
      <label for="street">Street</label>
      <input type="text" name="street" ngModel>
    </p>

    <p>
      <label for="pincode">Pin Code</label>
      <input type="text" name="pincode" #pincode="ngModel" ngModel>
      <!-- {{pincode.value}} -->
    </p>
  </div>

  <p>
    <label for="country">Country: </label>
    <select name="country" id="country" ngModel>
      <option selected="" value=""></option>
      <option [ngValue]="c.id" *ngFor="let c of countryList">
        {{c.name}}
      </option>
    </select>
  </p>

  <button type="submit">Submit</button>

  <p>
    <button type="button" (click)="changeCountry()">Change Country</button>
    <button type="button" (click)="setDefaults()">Set Defaults</button>
    <button type="button" (click)="reset()">Reset</button>
    <button type="button" (click)="patchValue()">Patch Value</button>
    <button type="button" (click)="changeAddress()">Change Address</button>
    <button type="button" (click)="resetForm()">Reset Form</button>
  
  </p>

  <pre>Value: {{contactForm.value | json}}</pre>
  <pre> Valid: {{contactForm.valid}} </pre>
  <pre> Touched : {{contactForm.touched}} </pre>
  <pre>Submitted : {{contactForm.submitted}} </pre>
</form>
